/**
 * @file
 */

.sbs .left {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-right: 7px;
}
.sbs .right {
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding-left: 7px;
}
.sbs input[type='text'] {
  display: inline-block;
  width: calc(100% - 146px);
  box-sizing: border-box;
}
/* special style for page title field */
.sbs input[id^="edit-title-field"] {
  font-size: 130%;
}
[id^="edit-title-field"] label, .form-item-menu-parent label, .form-item-menu-link-title label, [id="edit-sbsmenu"] label, [id="edit-path"] label, [id="edit-sbspath"] label {
  display: inline-block;
  width: 140px;
  box-sizing: border-box;
  margin: 0;
}
.sbs div.form-item-menu-parent {
  display: inline;
}
.sbs div.form-item-menu-parent select {
  margin-bottom: 1em;
  margin-top: 2px;
}
.sbs div.form-item-menu-automenu, .sbs div.form-item-path-pathauto {
  display: inline;
  margin-left: 10px;
}
.sbs .form-type-textfield.form-item-path-pathauto {
  margin: 0;
}
textarea.text-summary {
  resize: vertical;
}
#edit-field-image .fieldset-wrapper .fieldset-wrapper,
#edit-field-file .fieldset-wrapper .fieldset-wrapper {
  margin: 0;
}
#edit-field-image fieldset, #edit-field-file fieldset {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
#edit-field-image table .image-widget label {
  display: inline;
}
#edit-field-image table .image-widget .image-preview {
  padding: 0 10px 0 0;
  line-height: 0;
}
#edit-field-image table .image-widget div.form-item {
  white-space: normal;
}
#edit-field-image table .image-widget-data {
  width: calc(100% - 130px);
  min-width: 400px;
}
#edit-field-image table .image-widget-data input[type='text'] {
  width: calc(100% - 130px);
}
#edit-field-image table .image-widget-data .description {
  line-height: 1.5;
}
#edit-field-image table,
#edit-field-file table,
#edit-field-pdf table {
 /* Images and files section on page edit form */
  width: 100%;
}
#main-wrapper .filefield-source-elfinder {
  float: left;
  margin: 30px 0 0 20px;
}
.filefield-source-plupload {
  min-width: 430px;
  float: left;
}
/* Make plupload look the same in filefield_source as it does for scald */
.filefield-source-plupload input[type='submit'] {
  background: transparent url(../../contrib/plupload/images/up_arrow.png) no-repeat 0 center;
  color: #0074bd;
  padding: 2px 8px 0 15px;
  width: auto;
  border: none;
  outline: none;
  font-size: 12px;
  border-radius: 0;
}
.filefield-source-plupload input[type='submit']:hover {
  background-color: transparent;
  color: #0074bd;
  border: none;
}
fieldset#edit-field-image fieldset {
  position: static;
  padding: 0;
  top: 0;
}
fieldset#edit-field-image fieldset .fieldset-wrapper {
  padding: 0;
}
/* Hide the nojs fallback elements */
html.js #main-wrapper input[type='file'][id^='edit-field'],
html.js #main-wrapper input[type='submit'][name$='upload_button'] {
  display: none;
}
